<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon -->
    <%- include("favicon") %>
    <!-- Title -->
    <title>Editing:Blog Title - Bloggy</title>
</head>

<body>
    <%- include("header", {user: locals.user}) %>
        <main>
            <div class="container">
                <!-- Edit Blog Section -->
                <section class="py-4 space-y-2">
                    <div class="space-y-0.5 lg:space-y-2">
                        <h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl font-bold">Edit Blog</h1>
                        <hr class="separator">
                    </div>
                    <form action="" method="post" class="md:text-lg/loose xl:text-xl/loose 2xl:text-2xl/loose space-y-4">
                        <div class="flex flex-col">
                            <label for="title" class="font-bold">Title</label>
                            <input type="text" name="title" id="title" placeholder="Blog Title" value="Blog Title" class="outline-none px-4 py-2 rounded border lg:border-2 border-primary focus:border-secondary">
                        </div>
                        <div class="flex flex-col">
                            <label for="content" class="font-bold">Content</label>
                            <textarea name="content" id="content" placeholder="Blog Content" class="min-h-[80vh] outline-none resize-none px-4 py-2 rounded border lg:border-2 border-primary focus:border-secondary">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut augue dignissim, luctus enim in, sollicitudin libero. Vivamus a dapibus dui. Suspendisse enim dolor, blandit non metus sit amet, accumsan vehicula lectus. Pellentesque cursus tortor vel augue interdum, vel pretium sapien gravida. Suspendisse aliquam arcu sed porttitor congue. Donec dolor diam, pharetra vel metus et, porta finibus augue. Aenean iaculis eget massa vitae dapibus. Aliquam tempor dui non urna ultricies dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla nec diam feugiat, malesuada nunc ac, ornare elit. Sed ac laoreet dui. Ut dignissim condimentum nisi, pharetra hendrerit tortor vehicula ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </textarea>
                        </div>
                        <div class="space-x-4 sm:space-x-6 md:space-x-8 lg:space-x-10 xl:space-x-12">
                            <button type="submit" class="py-2 px-4 md:px-5 lg:px-6 xl:px-8 2xl:px-10 text-white bg-primary hover:bg-secondary rounded duration-500">Publish</button>
                            <button class="py-2 px-4 md:px-5 lg:px-6 xl:px-8 2xl:px-10 text-white bg-[#e30a0a] hover:bg-[#7d0707] rounded duration-500">Discard</button>
                        </div>
                    </form>
                </section>
            </div>
        </main>
        <%- include("footer") %>
</body>

</html>