<footer
    class="px-10 py-2 bg-secondary flex flex-col items-center text-white  text-xs md:text-base tracking-widest md:flex-row">
    <div>No copyrights are reserved.</div>
    <span class="logo m-auto text-xl -order-1 md:order-none md:text-3xl"><a href="/" title="Logo">Bloggy</a></span>
    <div>Made with ☕ By <span class="font-serif">Azario</span></div>
</footer>