@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inika';
        src: url(/fonts/Inika/Inika-Bold.ttf);
    }
    
    @font-face {
        font-family: 'Inria_Serif';
        src: url(/fonts/Inria_Serif/InriaSerif-Italic.ttf);
    }
    
    @font-face {
        font-family: 'Inria_Sans';
        src: url(/fonts/Inria_Sans/InriaSans-Regular.ttf);
        font-weight: initial;
    }
    
    @font-face {
        font-family: 'Inria_Sans';
        src: url(/fonts/Inria_Sans/InriaSans-Bold.ttf);
        font-weight: bold;
    }

    main {
        @apply min-h-[80vh];
    }
}

@layer components {
    .logo {
        @apply text-white font-inika tracking-tighter;
    }
    
    .separator {
        @apply w-[90%] h-0.5 bg-secondary border-0;
    }

    .container {
        @apply px-5 sm:px-6 lg:px-12 xl:px-16 2xl:px-48 mx-auto;
    }
}